<h1>楽しいドラマ</h1>
<% @dramas.each do |t| %>
    <% if t.emotion == "楽しい" %> 
        <%= t.title %>
        <%= t.emotion %>
        <%= t.highlight %>
    <% end %>
<% end %>
<%= link_to "Drama一覧に戻る", dramas_path %>
