.layer{
    /* 背景画像設定 */
    background: url(AdobeStock_300767847) no-repeat 0 0;
    background-size: cover;
    /* ボックス配置指定 */
    position: relative;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    /* ボックスサイズ指定 */
    width: 70%;
    height: 500px;
    position: relative;

  }
.layer p{
  width: 70%;

}  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: lightyellow;
    --color1: yellow;
    --color2: gold;
    --color3: orange;
    --color4: darkred;
    font-size: 300%;
    -webkit-text-stroke: 0.5px rgb(17, 1, 1);
    text-stroke: 0.5px rgb(22, 1, 1);
    font-family: 'DotGothic16', sans-serif;
    font-family: 'Kaisei Decol', serif;
    font-family: 'Merriweather', serif;
  }

  .layer1{
    background-color: #F2EFEB;

 
  }
  
